.breadcrumbClass {
    color: #000000;
    font-size:large;
  }
  /* to be used as header class for all usage components */
.page-header {
    margin-bottom: 15px !important;
    margin: 0 auto !important;
    width: 95% !important;
  }